In [1]:
import pandas as pd

In [18]:
jax = pd.read_csv("../gen_jax_raw.csv", delimiter="\t")
hum = jax[jax["NCBI Taxon ID"]==9606]
mou = jax[jax["NCBI Taxon ID"]==10090]

In [19]:
dat = []
for i, mapid in enumerate(MapIDs):
    hum_genes = ",".join([str(x) for x in hum[hum["HomoloGene ID"]==mapid]["EntrezGene ID"].values])
    mou_genes = ",".join([str(x) for x in mou[mou["HomoloGene ID"]==mapid]["EntrezGene ID"].values])
    dat.append([mapid, hum_genes, mou_genes])
columns = ["HomoloGeneID", "HumanEntrez", "MouseEntrez"]
df = pd.DataFrame(data=dat, columns = columns)

In [23]:
df = df.sort_values("HumanEntrez")
df.head(2)

       HomoloGeneID HumanEntrez MouseEntrez
8155          11167           1      117586
11443        115468          10       17960

In [24]:
Jon_orth = pd.read_csv("orth.csv")
Jon_orth.head(2)

   HUMAN.ENTREZ MOUSE.ENTREZ
0             1       117586
1             2       232345

In [27]:
jw_hum = set(df["HumanEntrez"].values)
jon_hum = set([str(x) for x in Jon_orth["HUMAN.ENTREZ"].values])

In [30]:
Jon_orth[Jon_orth["HUMAN.ENTREZ"].isin([100130361,100132994])]

       HUMAN.ENTREZ MOUSE.ENTREZ
16705     100130361    102634296
16730     100132994    102634296

In [28]:
jw_hum.difference(jon_hum)

{'100130361,100132994',
 '100532736,4681',
 '100533105,23678',
 '101928147,102723451',
 '102723532,283694',
 '102724788,5625',
 '102724828,6150',
 '11243,100527963',
 '125997,729458,653657,653656,284428',
 '1409,102724652',
 '144347,100533183',
 '151230,100526832',
 '1553,1548,1549',
 '1645,1646',
 '2214,2215',
 '222967,728194',
 '22903',
 '23308,102723996',
 '23420,283820,408050',
 '23779,553158',
 '245908,504180',
 '245940,100133267',
 '26595,390271',
 '2953,653689',
 '3020,3021',
 '3039,3040',
 '3303,3304',
 '346528,402317',
 '348110,100526783',
 '3543,100423062',
 '375318,653437',
 '378708,100526739',
 '387680,253725',
 '389763,389762,389761',
 '389852,729201',
 '3963,653499',
 '400966,729857,653489,285190,84220,729540,727851',
 '441871,391002',
 '448831,441581',
 '474382,474381,83740',
 '51130,100302652',
 '51321',
 '51622,221960',
 '54466,474343',
 '54575,54577,54576,54600',
 '548593,79008',
 '548596,1159',
 '54882,404734',
 '55997,653275',
 '56001,728343',
 '6006,6007',
 '647060,727830,727905,389730,26165',
 '653145,728113',
 '653519,51463',
 '6606,6607',
 '6759,548313',
 '7177,64499',
 '720,721',
 '728118,729262',
 '730755,85294',
 '79541,401427',
 '79585,100529144',
 '81399,441308,729759,26683',
 '8209,102724023',
 '8263,474383,474384',
 '8293,728492',
 '8337,723790',
 '85376,440804,150221',
 '86614,159119',
 '875,102724560',
 '91966,541578',
 '9883,100101267'}

In [29]:
jon_hum.difference(jw_hum)

{'100101267',
 '100130361',
 '100132994',
 '100133267',
 '100302652',
 '100423062',
 '100526739',
 '100526783',
 '100526832',
 '100527963',
 '100529144',
 '100532736',
 '100533105',
 '100533183',
 '101928147',
 '102723451',
 '102723532',
 '102723996',
 '102724023',
 '102724560',
 '102724652',
 '102724788',
 '102724828',
 '11217',
 '11243',
 '114299',
 '1159',
 '125997',
 '1409',
 '144347',
 '150221',
 '151230',
 '151254',
 '1548',
 '1549',
 '1553',
 '159119',
 '1645',
 '1646',
 '2214',
 '2215',
 '221960',
 '222967',
 '23285',
 '23308',
 '23420',
 '23678',
 '23779',
 '245908',
 '245940',
 '253725',
 '26165',
 '26595',
 '26683',
 '283694',
 '283820',
 '284428',
 '285190',
 '2953',
 '3020',
 '3021',
 '3039',
 '3040',
 '3303',
 '3304',
 '346528',
 '348110',
 '3543',
 '375318',
 '378708',
 '387680',
 '389730',
 '389761',
 '389762',
 '389763',
 '389852',
 '390271',
 '391002',
 '3963',
 '400966',
 '401427',
 '402317',
 '404734',
 '408050',
 '440804',
 '441308',
 '441581',
 '441871',
 '448831',
 '4681',
 '474343',
 '474381',
 '474382',
 '474383',
 '474384',
 '504180',
 '51130',
 '51463',
 '51622',
 '541578',
 '54466',
 '54575',
 '54576',
 '54577',
 '54600',
 '548313',
 '548593',
 '548596',
 '54882',
 '553158',
 '55997',
 '56001',
 '5625',
 '6006',
 '6007',
 '6150',
 '64499',
 '645090',
 '647060',
 '653145',
 '653275',
 '653437',
 '653489',
 '653499',
 '653519',
 '653656',
 '653657',
 '653689',
 '6606',
 '6607',
 '6759',
 '7177',
 '720',
 '721',
 '723790',
 '727830',
 '727851',
 '727905',
 '728113',
 '728118',
 '728194',
 '728343',
 '728492',
 '729201',
 '729262',
 '729458',
 '729540',
 '729759',
 '729800',
 '729857',
 '730755',
 '79008',
 '79541',
 '79585',
 '81399',
 '8209',
 '8263',
 '8293',
 '8337',
 '83740',
 '84220',
 '85294',
 '85376',
 '86614',
 '875',
 '91966',
 '9883'}